In [2]:
from medaid.training.medaid import medaid

In [3]:
import warnings
warnings.filterwarnings("ignore", category=UserWarning, message=".*ConvergenceWarning.*")
medaid = medaid(dataset_path='../../data/binary/cardio_train.csv', target_column="cardio", metric="recall", search="random", n_iter=10)

In [4]:
medaid.train()

logistic progress: 100%|██████████| 10/10 [00:13<00:00,  1.35s/it]
tree progress: 100%|██████████| 10/10 [00:02<00:00,  4.27it/s]
random_forest progress: 100%|██████████| 10/10 [00:18<00:00,  1.84s/it]
xgboost progress: 100%|██████████| 10/10 [00:06<00:00,  1.47it/s]
lightgbm progress: 100%|██████████| 10/10 [00:02<00:00,  4.10it/s]

In [5]:
medaid.df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393.0,2.0,168.0,NaN,110.0,80.0,1,1,0,0,1,0
1,1,20228.0,1.0,NaN,NaN,140.0,90.0,3,1,0,0,1,1
2,2,18857.0,1.0,NaN,64.0,130.0,70.0,3,1,0,0,0,1
3,3,17623.0,2.0,169.0,82.0,NaN,100.0,1,1,0,0,1,1
4,4,17474.0,1.0,156.0,56.0,100.0,60.0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240.0,2.0,168.0,76.0,120.0,80.0,1,1,1,0,1,0
69996,99995,22601.0,1.0,158.0,126.0,140.0,90.0,2,2,0,0,1,1
69997,99996,19066.0,2.0,183.0,105.0,180.0,90.0,3,1,0,1,0,1
69998,99998,22431.0,1.0,163.0,72.0,135.0,80.0,1,2,0,0,0,1
69999,99999,20540.0,1.0,170.0,72.0,120.0,80.0,2,1,0,0,1,0

In [6]:
medaid.models_ranking()

,model,best_score,f1,accuracy,precision,recall,test_best_score,test_f1,test_accuracy,test_precision,test_recall
2,random_forest,0.735018,0.734366,0.735018,0.737262,0.735018,0.696235,0.741676,0.742214,0.744368,0.742214
3,xgboost,0.734571,0.734032,0.734571,0.736411,0.734571,0.698659,0.739352,0.739786,0.741498,0.739786
4,lightgbm,0.729857,0.728039,0.729857,0.736015,0.729857,0.653309,0.732819,0.734571,0.741104,0.734571
1,tree,0.728661,0.727963,0.728661,0.730965,0.728661,0.681403,0.733828,0.734571,0.737359,0.734571
0,logistic,0.714964,0.714486,0.714964,0.716350,0.714964,0.679549,0.719548,0.720000,0.721528,0.720000

In [7]:
medaid.save()

In [7]:
medaid.report()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/mateuszdeptuch/SCHOOL/AUTOML/projekt2/tests/tests_training/medaid3/distribution_plots'